.resimg {
    width: 100%;
}

.result_img{
    height: 30rem;
    /* TODO 修改为none */
    display: none;
    z-index: 99;
}

#result_img1{
    position: absolute;
    top: 60%;
    right: 20%;
}

#result_img2{
    position: absolute;
    top: 61%;
    left: 25%;
}

#result_img3{
    position: absolute;
    top: 60%;
    right: 42%;
}

#result_img4{
    position: absolute;
    top: 61%;
    left: 25%;
}
